<div class="search-container">
  <div class="search-form">
    <h5>Search by Date:</h5>
    <form (ngSubmit)="searchEvents()" [formGroup]="searchForm">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate" formControlName="startDate" required>
      <br/>

      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" name="endDate" formControlName="endDate" required>
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>

  <div class="search-form">
    <h5>Search by Name:</h5>
    <form (ngSubmit)="searchEventsByName()">
      <label for="searchName">Event Name:</label>
      <div class="name-input-container">
        <input type="text" id="searchName" name="searchName" [(ngModel)]="searchName" required>
        <button type="submit" class="search-button" [disabled]="!searchName">Search</button>
      </div>
    </form>
  </div>
</div>

<ul class="event-list">
  <li *ngFor="let event of events">{{ event.name }} - {{ event.date }}</li>
</ul>
