.alert {
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.link {
  cursor: pointer;
}

.form-check-sign {
  border-color: silver; 
  background-color: silver; 
}
.btn-primary {
  background-color: #f82249 !important;
}

.close{
  color: #f82249 ;
}

