<app-navbar></app-navbar>
<section id="intro">
    <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0">EventOpia<br><span>Contact us</span> page</h1>
        <p class="mb-4 pb-0">Get in touch! Email, form, or call us at <span style="color:#f82249">EventOpia</span> for top-notch assistance and a great experience.</p>
    </div>
</section>

<section id="contact" class="section-bg wow fadeInUp">
	<div class="container">
	<div class="section-header">
		<h2>Contact Us</h2>
		<p>Get in touch!</p>
	</div>
	<div class="row contact-info">
		<div class="col-md-4">
		<div class="contact-address">
			<i class="ion-ios-location-outline"></i>
			<h3>Address</h3>
			<address>Irbid 21710, Jordan</address>
		</div>
		</div>
		<div class="col-md-4">
		<div class="contact-phone">
			<i class="ion-ios-telephone-outline"></i>
			<h3>Phone Number</h3>
			<p><a href="tel:+962777409254">+962 777409254</a></p>
		</div>
		</div>
		<div class="col-md-4">
		<div class="contact-email">
			<i class="ion-ios-email-outline"></i>
			<h3>Email</h3>
			<p><a href="mailto:EventOpiaTeam@outlook.com">EventOpiaTeam@outlook.com</a></p>
		</div>
		</div>
	</div>
	<div class="form">
		<div id="sendmessage">Your message has been sent. Thank you!</div>
		<div id="errormessage"></div>
		<form action="" method="post" role="form" class="contactForm" [formGroup]="contactUsForm">
		<div class="form-row">
			<div class="form-group col-md-6">
				<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" formControlName="email" data-rule="email"/>
				<span class="text-danger" *ngIf="contactUsForm.controls['email'].hasError('required')">Email is required</span>
				<div class="validation"></div>
			</div>
			<div class="form-group col-md-6">
				<input type="text" name="name" class="form-control" id="name" placeholder="Your phone number" formControlName="phoneNumber" data-rule="minlen:4"/>
				<div class="validation"></div>
			</div>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" formControlName="subject" data-rule="minlen:4"/>
			<div class="validation"></div>
		</div>
		<div class="form-group">
			<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" formControlName="message"></textarea>
			<span class="text-danger" *ngIf="contactUsForm.controls['message'].hasError('required')">Message is required</span>
			<div class="validation"></div>
		</div>
		<div class="text-center"><button (click)="sendMessage()">Send Message</button></div>
		</form>
	</div>
	</div>
</section>

<app-footer></app-footer>