<app-navbar></app-navbar>
<section id="intro">
    <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0">EventOpia<br><span>About Us</span> page</h1>
        <p class="mb-4 pb-0">{{page.content1}}</p>
        <p class="mb-4 pb-0">{{page.content2}}</p>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About The <span style="color: #f82249">EventOpia</span></h2>
                <p>
                    Welcome to EventOpia, your ultimate destination for discovering and
                    exploring a world of captivating events! Founded by a passionate team
                    of visionaries - Abdullah Bani Yassin, Ramzi Alyahya, Ahmad Khasawneh,
                    and Emran Abdalla - EventOpia is designed to be your go-to platform for
                    seamless event browsing and unforgettable experiences.
                </p>
                <p>
                    At EventOpia, we believe that every moment is an opportunity to
                    create memories. Our platform is meticulously crafted to curate a
                    diverse range of events, ensuring that there's something for everyone.
                    Whether you're an art enthusiast, a music lover, a foodie, or an adventurer
                    seeking thrilling experiences, EventOpia is your virtual gateway to a universe
                    of possibilities.
                </p>
                <p>
                    Abdullah, Ramzi, Ahmad, and Emran bring a wealth of expertise and creativity
                    to EventOpia, each contributing their unique skills to shape a user-friendly and
                    dynamic platform. With a shared dedication to innovation and a passion for enhancing
                    the way you explore events, our team strives to make your event discovery process effortless
                    and enjoyable.
                </p>
                <p>
                    As you navigate through EventOpia's intuitive interface, you'll find an extensive
                    collection of events meticulously categorized and thoughtfully presented. From local
                    gatherings to international spectacles, our platform offers an array of options to suit
                    your preferences and interests. Our commitment to excellence is evident in the seamless
                    design, interactive features, and comprehensive event information we provide.
                </p>
            </div>
            <div class="col-lg-3">
                <h3>Who</h3>
                <p>We are an impassioned assembly of programmers fervently committed to achieving unparalleled levels of productivity while nurturing boundless creativity.</p>
                </div>
                <div class="col-lg-3">
                <h3>When</h3>
                <p>2023<br>13 July-16 August</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>