<div class="wrapper">
    <app-sidebar [activeItem]="'contact-entries'"></app-sidebar>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="content">
            <section id="schedule" class="section-with-bg">
                <div class="container wow fadeInUp">
                    <div class="section-header">
                        <h2>Contact Us Entries</h2>
                        <p>messages from site goers</p>
                    </div>
                    <div class="tab-content row justify-content-center mb-3" *ngFor="let entry of contacts">
                        <div role="tabpanel" class="col-lg-12 tab-pane fade show active">
                            <div class="row schedule-item">
                                <div class="col-md-4">
                                    <h4>Subject: {{ entry.subject }}</h4>
                                    <h4>Email: {{ entry.email }}</h4>
                                    <h4>Phonenumber: {{ entry.phoneNumber }}</h4>
                                    <h4>Message:</h4>
                                    <p>{{entry.content}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
