
<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
                <div id='card' class="animated fadeIn">
                    <div id='upper-side'>
                      <h3 id='status'>
                        Successful
                      </h3>
                    </div>
                    <div id='lower-side'>
                      <p id='message'>
                        Your password has been changed successfully
                      </p>
                    </div>
                </div>
    		</div>
		</div>
    </div>
</section>