<app-navbar></app-navbar>
<div class="content pb-5 pt-5 mb-5 mt-5">
    <section id="speakers" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>My Events</h2>
                <p>Here you will find all your events</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-3" *ngFor="let event of myEvents">
                    <div class="card w-100 h-100 info-content" id="myElement">
                        <img [src]="getDataURL(event.retrievedImageFile)" class="card-img-top w-100" alt="..." height="300rem" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">
                                        {{ event.name }}
                                    </h5>
                                </div>
                                <div>
                                    <h5 class="card-title secondary-color">
                                        {{ event.startDate | date : 'MMM d' }}
                                        -
                                        {{ event.endDate | date : 'MMM d' }}
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title secondary-color">
                                        {{ event.address }}
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">
                                        Capacity:
                                        {{ event.eventCapacity }}
                                    </h5>
                                </div>
                                <div>
                                    <h5 class="card-title secondary-color">${{ event.attendingCost }}</h5>
                                </div>
                            </div>

                            <p class="card-text text-center">
                                {{ event.eventDescription }}
                            </p>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-primary custom-button">Status: {{ event.status }}</button>
                                <button
                                    class="btn btn-primary custom-button"
                                    [disabled]="event.status !== 'active'"
                                    (click)="openPayDialog(event)">
                                    Pay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>

<ng-template #payDialog>
    <form [formGroup]="payForm" style="padding: 15px">
        <div class="row mb-3">
            <div class="col-12 d-flex justify-content-center">
                <h2 class="dialog-title">Enter your bank details</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="cardNumber" class="font-weight-bold">Card Number:</label>
                <input type="text" id="cardNumber" class="form-control" formControlName="cardNumber" />
                <div *ngIf="payForm.get('cardNumber')?.invalid && (payForm.get('cardNumber')?.dirty || payForm.get('cardNumber')?.touched)">
                    <div class="text-danger" *ngIf="payForm.controls['cardNumber'].hasError('maxlength')">
                        Card Number cannot exceed 20 characters.
                    </div>
                    <div class="text-danger" *ngIf="payForm.controls['cardNumber'].hasError('required')">Card Number is required.</div>
                    <div class="text-danger" *ngIf="payForm.controls['cardNumber'].hasError('minlength')">
                        Card Number cannot be less than 20 characters.
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <label for="cardHolder" class="font-weight-bold">Card Holder:</label>
                <input type="text" id="cardHolder" class="form-control" formControlName="cardHolder" />
                <div *ngIf="payForm.get('cardHolder')?.invalid && (payForm.get('cardHolder')?.dirty || payForm.get('cardHolder')?.touched)">
                    <div class="text-danger" *ngIf="payForm.controls['cardHolder'].hasError('required')">Card Holder is required.</div>
                    <div class="text-danger" *ngIf="payForm.controls['cardHolder'].hasError('maxlength')">
                        Card Holder must not exceed 100 characters.
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <label for="expirationDate" class="font-weight-bold">Expiration Date:</label>
                <input type="date" id="expirationDate" class="form-control" formControlName="expirationDate" />
                <div
                    *ngIf="
                        payForm.get('expirationDate')?.invalid &&
                        (payForm.get('expirationDate')?.dirty || payForm.get('expirationDate')?.touched)
                    ">
                    <div *ngIf="payForm.controls['expirationDate'].hasError('required')">Expiration Date is required.</div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <label for="cvv" class="font-weight-bold">CVV:</label>
                <input type="number" id="cvv" class="form-control" formControlName="cvv" />
                <div *ngIf="payForm.get('cvv')?.invalid && (payForm.get('cvv')?.dirty || payForm.get('cvv')?.touched)">
                    <div class="text-danger" *ngIf="payForm.controls['cvv'].hasError('required')">CVV is required.</div>
                    <div class="text-danger" *ngIf="payForm.controls['cvv'].hasError('maxlength')">CVV cannot exceed 3 characters.</div>
                    <div class="text-danger" *ngIf="payForm.controls['cvv'].hasError('minlength')">
                        CVV cannot be less than 3 characters.
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <button class="btn btn-primary m-1" mat-dialog-close="save" [disabled]="!payForm.valid" (click)="onPaySubmit()">Save</button>
        </div>
    </form>
</ng-template>
