<div class="container wow fadeInUp">
    <div class="section-header">
        <h2>System Testimonial</h2>
        <p>
            Your thoughts are highly valued, and we eagerly anticipate your feedback. Feel free to share your thoughts, and we'll be
            thrilled to hear from you on our website
        </p>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form (ngSubmit)="onSubmit()" [formGroup]="testimonialForm" class="bg-light p-4 rounded shadow">
                    <div class="form-group">
                        <label for="content"><h4>Please submit your Review:</h4></label>
                        <textarea formControlName="content" id="content" class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Testimonial</button>
                </form>
            </div>
        </div>
    </div>
</div>
