<div class="text-center">
  <h6>
    <div
      class="link"
      data-toggle="modal"
      data-target="#passwordForgotModalCenter"
    >
      Forgot Password
    </div>
  </h6>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="passwordForgotModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="passwordForgotModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="title title-up" id="passwordForgotModalCenterTitle">
          Password Reset
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" [ngSwitch]="stageNo">
        <div class="container" *ngSwitchCase="1">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <p>
                Enter your Email Address so we can send you a verification code
                to reset your account password
              </p>
            </div>
          </div>
          <form class="form" [formGroup]="emailForm">
            <div class="form-group">
              <div class="form-control row">
                <div class="input-group inverted-icon col-12 col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
                <div class="col-12 col-12">
                  <div
                    class="alert alert-danger"
                    role="alert"
                    [ngSwitch]="true"
                    *ngIf="showValidations"
                    [hidden]="
                      !emailForm.controls['email'].hasError('required') &&
                      !emailForm.controls['email'].hasError('email') &&
                      !emailForm.controls['email'].hasError('maxlength')
                    "
                  >
                    <div
                      *ngSwitchCase="
                        emailForm.controls['email'].hasError('required')
                      "
                    >
                      - Email is required<br />
                    </div>
                    <div
                      *ngSwitchCase="
                        emailForm.controls['email'].hasError('email')
                      "
                    >
                      - Invalid email<br />
                    </div>
                    <div
                      *ngSwitchCase="
                        emailForm.controls['email'].hasError('maxlength')
                      "
                    >
                      - Email length must be 50 or lower<br />
                    </div>
                  </div>
                </div>
                <div class="col-12 col-12">
                  <div class="footer text-center">
                    <button
                      type="submit"
                      class="btn btn-primary btn-round btn-lg btn-block"
                      (click)="generateVerificationCode()"
                    >
                      Reset
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div
                  class="alert alert-warning"
                  role="alert"
                  *ngIf="!emailExists"
                >
                  Email not found
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="container" *ngSwitchCase="2">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <p>
                A verification code has been sent to your email, please enter it
                to reset your password
              </p>
            </div>
          </div>
          <form class="form" [formGroup]="codeForm">
            <div class="form-group">
              <div class="form-control">
                <div class="input-group inverted-icon">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons files_single-copy-04"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="code"
                  />
                </div>
                <div class="col-12 col-12">
                  <div
                    class="alert alert-danger"
                    role="alert"
                    [ngSwitch]="true"
                    *ngIf="showValidations"
                    [hidden]="
                      !codeForm.controls['code'].hasError('required') &&
                      !codeForm.controls['code'].hasError('minlength') &&
                      !codeForm.controls['code'].hasError('maxlength')
                    "
                  >
                    <div
                      *ngSwitchCase="
                        codeForm.controls['code'].hasError('required')
                      "
                    >
                      - Code is required<br />
                    </div>
                    <div
                      *ngSwitchCase="
                        codeForm.controls['code'].hasError('maxlength') ||
                        codeForm.controls['code'].hasError('minlength')
                      "
                    >
                      - Code length must be 36<br />
                    </div>
                  </div>
                </div>
                <div class="col-12 col-12">
                  <div class="footer text-center">
                    <button
                      type="submit"
                      class="btn btn-primary btn-round btn-lg btn-block"
                      (click)="checkVerificationCode()"
                    >
                      Submit Code
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div
                  class="alert alert-warning"
                  role="alert"
                  *ngIf="!isCodeValid"
                >
                  Code is invalid
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="container" *ngSwitchCase="3">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <p>Enter your new password</p>
            </div>
          </div>
          <form class="form" [formGroup]="passwordForm">
            <div class="form-group">
              <div class="form-control">
                <div class="input-group inverted-icon">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons objects_key-25"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                  />
                </div>
              </div>
              <div
                div
                class="alert alert-danger"
                [ngSwitch]="true"
                *ngIf="showValidations"
                [hidden]="
                  !passwordForm.controls['password'].hasError('pattern') &&
                  !passwordForm.controls['password'].hasError('minlength') &&
                  !passwordForm.controls['password'].hasError('maxlength') &&
                  !passwordForm.controls['password'].hasError('required')
                "
              >
                <div
                  *ngSwitchCase="
                    passwordForm.controls['password'].hasError('pattern')
                  "
                >
                  - Password must contain at least one lowercase letter, one
                  uppercase letter, one digit, and one special character<br />
                </div>
                <div
                  *ngSwitchCase="
                    passwordForm.controls['password'].hasError('minlength')
                  "
                >
                  - Password length must be 8 or higher<br />
                </div>
                <div
                  *ngSwitchCase="
                    passwordForm.controls['password'].hasError('maxlength')
                  "
                >
                  - Password length must be 50 or lower<br />
                </div>
                <div
                  *ngSwitchCase="
                    passwordForm.controls['password'].hasError('required')
                  "
                >
                  - Password is required<br />
                </div>
              </div>
              <div class="col-12 col-12">
                <div class="footer text-center">
                  <button
                    type="submit"
                    class="btn btn-primary btn-round btn-lg btn-block"
                    (click)="resetPassword()"
                  >
                    Reset Password
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="container" *ngSwitchCase="4">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <p>Password Reset Successful</p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
