
<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
                <div id='card' class="animated fadeIn">
                    <div id='upper-side'>
                      <h3 id='status'>
                        Failed
                      </h3>
                    </div>
                    <div id='lower-side'>
                      <p id='message'>
                        Something went wrong! Your profile information has not been modified
                      </p>
                      <p>
                        Verify that the data you entered is correct!
                      </p>
                    </div>
                </div>
    		</div>
		</div>
    </div>
</section>