<app-navbar></app-navbar>
<main id="main">
    <section id="intro" [style.background]="'url(' + getDataURL(page.retrievedImageFile) + ') top center !important'">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-4 pb-0">Welcome to<br /><span>EventOpia</span> website</h1>
            <p class="mb-4 pb-0">{{ page.content1 }}</p>
            <p class="mb-4 pb-0">{{ page.content2 }}</p>
        </div>
    </section>

    <app-about-us [displayTemplate]="false"></app-about-us>
    <app-contact-us [displayTemplate]="false"></app-contact-us>

    <section id="schedule" class="section-with-bg">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Testimonials</h2>
                <div class="row">
                    <div class="col-md-4" *ngFor="let testimonial of approvedTestimonials">
                        <div class="testimonial">
                            <h3>{{ testimonial.content }}</h3>
                            <p>{{ testimonial.creationDate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="subscribe">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Newsletter</h2>
                <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
            </div>

            <form method="POST" action="#">
                <div class="form-row justify-content-center">
                    <div class="col-auto">
                        <input type="text" class="form-control" placeholder="Enter your Email" />
                    </div>
                    <div class="col-auto">
                        <button type="submit">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
<app-footer></app-footer>
