<app-navbar></app-navbar>
<main id="main">
    <section id="intro" [style.background]="'url(' + getDataURL(page.retrievedImageFile) + ') top center !important'">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-4 pb-0">Welcome to<br /><span>EventOpia</span> website</h1>
            <p class="mb-4 pb-0">{{ page.content1 }}</p>
            <p class="mb-4 pb-0">{{ page.content2 }}</p>
        </div>
    </section>

    <app-about-us [displayTemplate]="false"></app-about-us>
    <app-contact-us [displayTemplate]="false"></app-contact-us>
    <section id="speakers" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Event Speakers</h2>
                <p>Here are some of our speakers</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="../../assets/home-assets/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid" />
                        <div class="details">
                            <h3><a href="speaker-details.html">Brenden Legros</a></h3>
                            <p>Quas alias incidunt</p>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="../../assets/home-assets/img/speakers/2.jpg" alt="Speaker 2" class="img-fluid" />
                        <div class="details">
                            <h3><a href="speaker-details.html">Hubert Hirthe</a></h3>
                            <p>Consequuntur odio aut</p>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="../../assets/home-assets/img/speakers/3.jpg" alt="Speaker 3" class="img-fluid" />
                        <div class="details">
                            <h3><a href="speaker-details.html">Cole Emmerich</a></h3>
                            <p>Fugiat laborum et</p>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="../../assets/home-assets/img/speakers/4.jpg" alt="Speaker 4" class="img-fluid" />
                        <div class="details">
                            <h3><a href="speaker-details.html">Jack Christiansen</a></h3>
                            <p>Debitis iure vero</p>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="../../assets/home-assets/img/speakers/5.jpg" alt="Speaker 5" class="img-fluid" />
                        <div class="details">
                            <h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
                            <p>Qui molestiae natus</p>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="../../assets/home-assets/img/speakers/6.jpg" alt="Speaker 6" class="img-fluid" />
                        <div class="details">
                            <h3><a href="speaker-details.html">Willow Trantow</a></h3>
                            <p>Non autem dicta</p>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="schedule" class="section-with-bg">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Testimonials</h2>
                <div class="row">
                    <div class="col-md-4" *ngFor="let testimonial of approvedTestimonials">
                        <div class="testimonial">
                            <h3>{{ testimonial.content }}</h3>
                            <p>{{ testimonial.creationDate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="venue" class="wow fadeInUp">
        <div class="container-fluid">
            <div class="section-header">
                <h2>Event Venue</h2>
                <p>Event venue location info and gallery</p>
            </div>

            <div class="row no-gutters">
                <div class="col-lg-6 venue-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                        frameborder="0"
                        style="border: 0"
                        allowfullscreen></iframe>
                </div>

                <div class="col-lg-6 venue-info">
                    <div class="row justify-content-center">
                        <div class="col-11 col-lg-8">
                            <h3>Downtown Conference Center, New York</h3>
                            <p>
                                Iste nobis eum sapiente sunt enim dolores labore accusantium autem. Cumque beatae ipsam. Est quae sit qui
                                voluptatem corporis velit. Qui maxime accusamus possimus. Consequatur sequi et ea suscipit enim nesciunt
                                quia velit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid venue-gallery-container">
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/1.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="../../assets/home-assets/img/venue-gallery/1.jpg" alt="" class="img-fluid" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/2.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="../../assets/home-assets/img/venue-gallery/2.jpg" alt="" class="img-fluid" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/3.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="../../assets/home-assets/img/venue-gallery/3.jpg" alt="" class="img-fluid" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/4.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="../../assets/home-assets/img/venue-gallery/4.jpg" alt="" class="img-fluid" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/5.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="../../assets/home-assets/img/venue-gallery/5.jpg" alt="" class="img-fluid" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/6.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="../../assets/home-assets/img/venue-gallery/6.jpg" alt="" class="img-fluid" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/7.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="../../assets/home-assets/img/venue-gallery/7.jpg" alt="" class="img-fluid" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/8.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="../../assets/home-assets/img/venue-gallery/8.jpg" alt="" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="subscribe">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Newsletter</h2>
                <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
            </div>

            <form method="POST" action="#">
                <div class="form-row justify-content-center">
                    <div class="col-auto">
                        <input type="text" class="form-control" placeholder="Enter your Email" />
                    </div>
                    <div class="col-auto">
                        <button type="submit">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
<app-footer></app-footer>
